
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #fff;
}


.upload-container h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}


form {
    background: rgb(247, 245, 245); 
    backdrop-filter: blur(10px); 
    padding: 30px;
    width: 100%;
    max-width: 450px; 
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    color: #333; 
}

form input[type="text"],
form textarea,
form input[type="file"] {
    padding: 15px 20px;
    font-size: 16px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8); 
    resize: none; 
}


form textarea {
    min-height: 100px; 
}


form input:focus,
form textarea:focus {
    border-color: #6a11cb; 
    outline: none;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5); 
}


form button {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}





